.search-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.search-div input {
  max-width: 80%;
  min-width: 30%;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 50px;
  transition: box-shadow 0.2s linear;
}
